extends layout

block content
  .contact-details
    h1 Contact Details
    p
      strong First Name:
      | #{contact.firstName}
    p
      strong Last Name:
      | #{contact.lastName}
    p
      strong Email Address:
      | #{contact.email}
    p
      strong Notes:
      | #{contact.notes}
    p
      strong Date Created/Modified:
      | #{contact.date}
    a(href=`/contacts/${contact.id}/edit`, class='edit-btn') Edit Contact
    form(action=`/contacts/${contact.id}?_method=DELETE`, method='POST')
      button(type='submit', class='delete-btn') Delete Contact
    a(href=`/contacts`, class='view-all-link') View All Contacts
